
.page-content-tabs {
	overflow-x: hidden;
	margin: 32px 0;
	padding-bottom: 16px;
	border-bottom: 1px solid #ccc;
}

.page-content-tabs [type="radio"] {
	display: none;
}

.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
	gap: .1rem;
	border-bottom: 1px solid #ccc;
}

.tab > label {
	display: flex;
	margin-bottom: -1px;
	padding: 12px 8px;
	border: 1px solid rgb(102, 124, 162);
	border-bottom: 0px;
	background: rgb(95, 119, 160);
	color: #eee;
	gap: 1rem;
	font-size: 12px; 
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;	
	transition: all 0.3s;
	justify-content: space-around;
}

.tab:hover label {
	border-top-color: #333;
	color: #333;
}

.tab > label > span:last-child:hover {
	color: red;
}

.tab-content {
	display: none;
	color: #777;
}
  