<div class="well">
  <h2>Enter a zipcode:</h2>
  <form novalidate (ngSubmit)="addLocation(zipForm)" #zipForm="ngForm">
    <input
      type="text"
      name="zipcode"
      required
      ngModel
      #zipcodeVar="ngModel"
      placeholder="Zipcode"
      class="form-control"
      [ngClass]="{ 'is-invalid': zipcodeVar.touched && !zipcodeVar.valid }"
    />
    <div class="invalid-feedback">
      <span *ngIf="zipcodeVar.errors?.['required']">
        Please enter a Zipcode
      </span>
    </div>

    <button class="btn btn-primary mt-4" type="submit" [disabled]="zipForm.invalid">
      Add location
    </button>
  </form>
</div>
